<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Generator_Lokalizacji.Properties.Settings.ConnectionString"
            connectionString="Data Source=intprod;Persist Security Info=True;User ID=hurt;Password=r6atjbtqhu;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>